@import './base.css';

#app {
  margin: 0 auto;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: #323232;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  nav a:hover {
    background-color: #efefef;
  }
}
